---
interface Props {
  by: string
  year: string
	cite: string
}
const { by, year, cite } = Astro.props;
---

<blockquote cite={cite} class="py-8 max-w-2xl text-base font-serif">
  <div class="border-l-4 border-red-100 border-solid -ml-3 pl-3">
    <slot />
    <footer class="text-zinc-600 font-mono pt-4">
      <small>
        <span class="pr-1">—</span><a class="" href={cite}>{by}, <time datetime={year}>{year}</time></a>
      </small>
    </footer>
  </div>
</blockquote>
